# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
*.dll
*.exe
ttsx_project/Scripts/pip3.6-script.py
ttsx_project/Scripts/pip3-script.py
ttsx_project/Scripts/pip-script.py
ttsx_project/Scripts/easy_install-script.py
ttsx_project/Scripts/easy_install-3.6-script.py
ttsx_project/Scripts/deactivate.bat
ttsx_project/Scripts/Activate.ps1
ttsx_project/Scripts/activate.bat
ttsx_project/Scripts/activate
ttsx_project/pyvenv.cfg
.idea/workspace.xml
.idea/ttsx.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
ttsx_project/pip-selfcheck.json
ttsx_project/Scripts/createfontdatachunk.py
ttsx_project/Scripts/django-admin.py
ttsx_project/Scripts/enhancer.py
ttsx_project/Scripts/explode.py
ttsx_project/Scripts/gifmaker.py
ttsx_project/Scripts/painter.py
ttsx_project/Scripts/pilconvert.py
ttsx_project/Scripts/pildriver.py
ttsx_project/Scripts/pilfile.py
ttsx_project/Scripts/pilfont.py
ttsx_project/Scripts/pilprint.py
ttsx_project/Scripts/player.py
ttsx_project/Scripts/thresholder.py
ttsx_project/Scripts/viewer.py
.idea/dictionaries/Hyman.xml
.idea/vcs.xml
ttsx_pro/.idea/dictionaries/Hyman.xml
ttsx_pro/.idea/inspectionProfiles/profiles_settings.xml
ttsx_pro/.idea/misc.xml
ttsx_pro/.idea/modules.xml
ttsx_pro/.idea/ttsx_pro.iml
ttsx_pro/.idea/workspace.xml
