{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_title %}
    <title>天天生鲜-商品详情</title>
{% endblock %}
{% block script %}
    <script>
    $(function () {
        $('.num_show').blur(function () {
            var num=parseInt($(this).val());//NaN
            if(isNaN(num)){
                num=1;
            }
            if(num<=0){
                num=1;
            }
            var kucun=parseInt($('#kucun').val());
            if(num>=kucun){
                num=kucun;
            }
            var price=parseFloat($('.show_pirze em').text());
            var total=num*price;
            $('.total em').text(total.toFixed(2)+'元');
            $(this).val(num);
        });
        $('.add').click(function () {
            var num=parseInt($('.num_show').val());
            num++;
            $('.num_show').val(num).blur();
        });
        $('.minus').click(function () {
            var num=parseInt($('.num_show').val());
            num--;
            $('.num_show').val(num).blur();
        });
        $('#add_cart').click(function () {
            var gid=$('#gid').val();
            var count=$('.num_show').val();

                {% if request.user.is_authenticated %}
                    $.get("{% url 'add_cart' %}",{'gid':gid,'count':count},function (data) {
                        if(data.isok==1){
                            var $add_x = $('#add_cart').offset().top;
                            var $add_y = $('#add_cart').offset().left;

                            var $to_x = $('#show_count').offset().top;
                            var $to_y = $('#show_count').offset().left;

                            $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})

                            $(".add_jump").stop().animate({'left': $to_y+7, 'top': $to_x+7}, "fast", function() {
                                $(".add_jump").fadeOut('fast');
                            });
                            $('#show_count').text(data.count);
                        }
                    });
                {% else %}
                    location.href="{% static 'login' %}";
                {% endif %}

        });
    });
    </script>
{% endblock script %}
{% block body %}
{% include 'header.html' %}
{% include 'search_bar_cart.html' %}
{% include 'sub_header.html' %}

	<div class="breadcrumb">
		<a href="{% url 'index' %}">全部分类</a>
		<span>></span>
		<a href="{% url 'list_info' %}?id={{ goods_detail.gtype_id }}">{{ goods_detail.gtype.ttitle }}</a>
		<span>></span><input type="hidden" id="gid" value="{{ goods_detail.id }}">
		<a href="{% url 'detail_info' %}??id={{ goods_detail.id }}">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{% static 'images/' %}{{ goods_detail.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods_detail.gtitle }}</h3>
			<p>{{ goods_detail.gjianjie }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods_detail.gprice }}</em></span>
				<span class="show_unit">单  位：{{ goods_detail.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
                    <input type="hidden" id="kucun" value="{{ goods_detail.gkucun }}">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ goods_detail.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for goods in list_new %}
                    <li>
                        <a href="{% url 'detail_info' %}?id={{ goods.id }}"><img src="{% static 'images/' %}{{ goods.gpic }}"></a>
                        <h4><a href="{% url 'detail_info' %}?id={{ goods.id }}">{{ goods.gtitle }}</a></h4>
                        <div class="prize">￥{{ goods.gprice }}</div>
                    </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods_detail.gcontent | safe }} </dd>
				</dl>
			</div>

		</div>
        <div class="add_jump"></div>
	</div>
{% endblock %}