{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_title %}
    <title>天天生鲜-首页</title>
{% endblock %}
{% block body %}
{% include 'header.html' %}
{% include 'search_bar_cart.html' %}

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="{% url 'index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="{% url 'index' %}">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="{% url 'lucky' %}">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="{% url 'list_info' %}?id=1" class="fruit">新鲜水果</a></li>
			<li><a href="{% url 'list_info' %}?id=2" class="seafood">海鲜水产</a></li>
			<li><a href="{% url 'list_info' %}?id=3" class="meet">猪牛羊肉</a></li>
			<li><a href="{% url 'list_info' %}?id=4" class="egg">禽类蛋品</a></li>
			<li><a href="{% url 'list_info' %}?id=5" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="{% url 'list_info' %}?id=6" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="{% static 'images/slide.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'images/slide02.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'images/slide03.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'images/slide04.jpg' %}" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="{% static 'images/adv01.jpg' %}"></a>
			<a href="#"><img src="{% static 'images/adv01.jpg' %}"></a>
		</div>
	</div>

	{% for item in list_index %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{ forloop.counter }}">{{ item.type.ttitle }}</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for click in item.list_click %}
				<a href="{% url 'detail_info' %}?id={{ click.id }}" title="{{ click.gtitle }}">{{ click.gtitle|slice:':20' }}</a>
                {% endfor %}
			</div>
			<a href="{% url 'list_info' %}?id={{ item.type.id }}" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><a href="{% url 'list_info' %}?id={{ forloop.counter }}"><img src="{% static 'images/banner0'%}{{ forloop.counter }}.jpg"></a></div>
			<ul class="goods_list fl">
                {% for new in item.list_new %}
				<li>
					<h4><a href="{% url 'detail_info' %}?id={{ new.id }}" title="{{ new.gtitle }}">{{ new.gtitle|slice:':16' }}</a></h4>
					<a href="{% url 'detail_info' %}?id={{ new.id }}"><img src="{% static 'images/'%}{{ new.gpic }}"></a>
					<div class="prize">¥ {{ new.gprice }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>
    {% endfor %}
{% endblock %}
