{% extends 'base.html' %}
{% load staticfiles %}
{% load pageFilter %}
{% block custom_title %}
    <title>天天生鲜-商品列表</title>
{% endblock %}
{% block body %}
{% include 'header.html' %}
{% include 'search_bar_cart.html' %}
{% include 'sub_header.html' %}
{% block script %}
    <script>
    //向购物车中加入商品
    function add_cart(gid) {

            {% if request.user.is_authenticated %}
                $.get("{% url 'add_cart' %}",{'gid':gid,'count':1},function (data) {
                    if(data.isok==1){
                        $('#show_count').text(data.count);
                        ui.alert('加入购物车成功',500);
                    }
                });
            {% else %}
                location.href="{% url 'login' %}";
            {% endif %}
    }
    </script>
{% endblock script %}

    <div class="breadcrumb">
        <a href="{% url 'index' %}">全部分类</a>
        <span>></span>
        <a href="{% url 'list_info' %}?id={{ typeinfo.id }}">新鲜水果</a>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for goods in list_new %}
                    <li>
                        <a href="{% url 'detail_info' %}?id={{ goods.id }}"><img src="{% static 'images/' %}{{ goods.gpic }}"></a>
                        <h4><a href="{% url 'detail_info' %}?id={{ goods.id }}">{{ goods.gtitle }}</a></h4>
                        <div class="prize">￥{{ goods.gprice }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <div class="sort_bar">
                <a href="{% url 'list_info' %}?id={{ typeinfo.id }}" {% if rank|safe == '-id' %} class="active" {% endif %}>默认</a>
                <a href="{% url 'list_info' %}?id={{ typeinfo.id }}&rank=gprice" {% if rank|safe == 'gprice' %} class="active" {% endif %}>价格</a>
                <a href="{% url 'list_info' %}?id={{ typeinfo.id }}&rank=-gclick" {% if rank|safe == '-gclick' %} class="active" {% endif %}>人气</a>
            </div>

            <ul class="goods_type_list clearfix">
                {% for goods in page_info %}
                    <li>
                        <a href="{% url 'detail_info' %}?id={{ goods.id }}"><img src="{% static 'images/' %}{{ goods.gpic }}"></a>
                        <h4><a href="{% url 'detail_info' %}?id={{ goods.id }}">{{ goods.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ goods.gprice }}</span>
                            <span class="unit">{{ goods.gunit }}</span>
                            <a href="javascript:add_cart({{ goods.id }});" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="pagenation">
                {% if page_info.has_previous %}
                    <a href="{% url 'list_info' %}?id={{ typeinfo.id }}&page=1">首页</a>
                    <a href="{% url 'list_info' %}?id={{ typeinfo.id }}&page={{ page_info.number|add:-1 }}">上一页</a>
                {% endif %}

                {% for pindex in page_info|page_filter %}
                    {% if pindex == page_info.number %}
                    <a href="{% url 'list_info' %}?id={{ typeinfo.id }}&page={{ pindex }}" class="active">{{ pindex }}</a>
                    {% else %}
                    <a href="{% url 'list_info' %}?id={{ typeinfo.id }}&page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_info.has_next %}
                    <a href="{% url 'list_info' %}?id={{ typeinfo.id }}&page={{ page_info.number|add:1 }}">下一页</a>
                    <a href="{% url 'list_info' %}?id={{ typeinfo.id }}&page={{ page_info.paginator.num_pages }}">末页</a>
                {% endif %}
			</div>
        </div>
    </div>
{% endblock %}