{% load staticfiles %}
<div class="search_bar clearfix">
    <a href="{% url 'index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
    <div class="search_con fl">
        <form action="{% url 'search' %}" method="GET" target="_blank">
            <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
            <input type="submit" class="input_btn fr" name="" value="搜索">
        </form>
    </div>
    <div class="guest_cart fr">
        <a href="{% url 'cart' %}" class="cart_name fl">我的购物车</a>
        {% if request.user.is_authenticated %}
            <div class="goods_count fl" id="show_count">
                {% if request.session.cart_count %}
                    {{ request.session.cart_count }}
                {% else %}
                     0
                {% endif %}
            </div>
            <script>
                $.get("{% url 'calc_count' %}",function (data) {
                    $('#show_count').text(data.count);
                });
            </script>
        {% else %}
            <div class="goods_count fl" id="show_count">0</div>
        {% endif %}
    </div>
</div>