{% load staticfiles %}
<div class="navbar_con">
    <div class="navbar clearfix">
        <div class="subnav_con fl">
            <h1>全部商品分类</h1>
            <span></span>
            <ul class="subnav">
                <li><a href="{% url 'list_info' %}?id=1" class="fruit">新鲜水果</a></li>
                <li><a href="{% url 'list_info' %}?id=2" class="seafood">海鲜水产</a></li>
                <li><a href="{% url 'list_info' %}?id=3" class="meet">猪牛羊肉</a></li>
                <li><a href="{% url 'list_info' %}?id=4" class="egg">禽类蛋品</a></li>
                <li><a href="{% url 'list_info' %}?id=5" class="vegetables">新鲜蔬菜</a></li>
                <li><a href="{% url 'list_info' %}?id=6" class="ice">速冻食品</a></li>
            </ul>
        </div>
        <ul class="navlist fl">
            <li><a href="{% url 'index' %}">首页</a></li>
            <li class="interval">|</li>
            <li><a href="{% url 'index' %}">手机生鲜</a></li>
            <li class="interval">|</li>
            <li><a href="{% url 'lucky' %}">抽奖</a></li>
        </ul>
    </div>
</div>