{% extends 'base.html' %}
{% load staticfiles %}
{% load pageFilter %}
{% block custom_title %}
    <title>天天生鲜-搜索结果</title>
{% endblock %}
{% block body %}
{% include 'header.html' %}
{% include 'search_bar_cart.html' %}
{% include 'sub_header.html' %}
    {% block script %}
        <script>
            //向购物车中加入商品
            function add_cart(gid) {

                {% if request.user.is_authenticated %}
                    $.get("{% url 'add_cart' %}", {'gid': gid, 'count': 1}, function (data) {
                        if (data.isok == 1) {
                            $('#show_count').text(data.count);
                            ui.alert('加入购物车成功', 500);
                        }
                    });
                {% else %}
                    location.href = "{% url 'login' %}";
                {% endif %}
            }
        </script>
    {% endblock script %}
    <div class="main_wrap clearfix">

        <ul class="goods_type_list clearfix">
            {% for item in page_obj %}
                <li>
                    <a href="{% url 'detail_info' %}?id={{ item.object.id }}"><img
                            src="{% static 'images/' %}{{ item.object.gpic }}"></a>
                    <h4><a href="{% url 'detail_info' %}?id={{ item.object.id }}">{{ item.object.gtitle }}</a></h4>
                    <div class="operate">
                        <span class="prize">￥{{ item.object.gprice }}</span>
                        <span class="unit">{{ item.object.gunit }}</span>
                        <a href="javascript:add_cart({{ item.object.id }});" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="pagenation">
            {% if page_obj.has_previous %}
                <a href="{% url 'search' %}?q={{ query }}&page=1">首页</a>
                <a href="{% url 'search' %}?q={{ query }}&page={{ page_obj.number|add:-1 }}">上一页</a>
            {% endif %}

            {% for pindex in page_obj|page_filter %}
                {% if pindex == page_obj.number %}
                    <a href="{% url 'search' %}?q={{ query }}&page={{ pindex }}" class="active">{{ pindex }}</a>
                {% else %}
                    <a href="{% url 'search' %}?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="{% url 'search' %}?q={{ query }}&page={{ page_obj.number|add:1 }}">下一页</a>
                <a href="{% url 'search' %}?q={{ query }}&page={{ page_obj.paginator.num_pages }}">末页</a>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}